*{
  border: 1px solid black;
}
.main{
  padding-bottom: 50px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

.App {
  flex: 1;
  min-height: 100vh;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.header{
  display: flex;
  background-color: gray;
  background-color: rgb(41, 41, 41);
  background-color: rgb(0,106,167);
  min-height: 220px;
  border-bottom: rgb(254, 204, 2) 3px solid;
}

.hamburger{
  margin-top: 30px;
  /* position: relative; */
position: absolute;
right: 20px;
  display: block;
  cursor: pointer;
  width: 35px;
  height: 35px;
  appearance: none;
  background: none;
  outline: none;
  border: none;
  z-index: 12;
  }
/* ::before and ::after are seudo elements, get explanation of them */
.hamburger .bar, .hamburger:after, .hamburger:before{
display: block;
width: 100%;
height: 5px;
background-color: rgb(254, 204, 2);
margin: 6px 0px;          
transition: 0.4s;
content: "";
}

.hamburger.is-active:before{
  transform:rotate(-45deg) translate(-8px,6px);
}

.hamburger.is-active:after{
  transform:rotate(45deg) translate(-9px,-8px);
}

.hamburger.is-active .bar{
  opacity:0;
  /* display: none; This misaligns the lines*/
}

.menu-list{
  position: fixed;
  top: 0;
  left: 100%; /*hides the menu */
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 10;
  background-color: rgb(0,106,167);
  padding-top: 120px;
  transition: 0.4s;
  }

  .menu-list.is-active{
    left: 0;
  }

  .menu-list  ul {
    display: block;
    width: 100%;
    max-width: 200px;
    text-align:center;
    margin: 0 auto 16px;
    padding: 12px 16px;
    background-color: rgb(254, 204, 2);
    text-decoration: none;
    border-radius: 5px;
  }

  .menu-list ul:hover{
    background-color: grey;
  }

.main{
  flex: 1;
  }
.orebroTower{
  max-height: 150px;
  margin: 0px;
  border: 0px;
  padding: 0px;
  margin: 10px;
  }
  .orebroAndListDiv{
    max-width: 90vw;
    border: yellow 1px solid;
  }
  
  .orebroText{
    width: 100%;
    max-width: 500px
  }
  .orebroList{
    width: 100%;
    max-width: 100%;
    text-align: center;
  }

  .headerList{
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: 100%;
  max-width: 90vw;
  justify-content: space-between;
  }

  .headerList > ul{
    padding: 0px;
    margin: 0 10px;
    justify-content: space-between;
  }

  .headerList > ul > a{
    text-decoration: none;
    color: white;
    color:rgb(254, 204, 2);
    font-weight: bold;
    border-radius: 5px;
  }
  .headerList > ul.seeAndDo > a:hover,
  .headerList > ul.foodAndDrink > a:hover{
  
  box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
  transition: box-shadow 0.4s ease-in-out;
  }

  .headerList > ul.visitorInformation > a:hover{
    transition: box-shadow 0.4s ease-in-out;
    box-shadow: 
  blue 0px 0px 0px 2px inset, 
  rgb(255, 255, 255) 0px -10px 0px -3px, 
  rgb(31, 193, 27) 0px -10px, 
  rgb(255, 255, 255) 0px -20px 0px -3px, 
  rgb(255, 217, 19) 0px -20px, 
  rgb(255, 255, 255) 0px -30px 0px -3px, 
  rgb(255, 156, 85) 0px -30px, 
  rgb(255, 255, 255) 0px -40px 0px -3px, 
  rgb(255, 85, 85) 0px -40px;
  }

.headerList > ul.whereToStay > a:hover,
.headerList > ul.thingsForKids > a:hover{
  transition: box-shadow 0.4s ease-in-out;
  /* box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;; */
  box-shadow: blue 0px 0px 0px 2px inset, 
            rgb(255, 255, 255) -10px -10px 0px -3px, 
            rgb(31, 193, 27) -10px -10px, 
            rgb(255, 255, 255) -20px -20px 0px -3px, 
            rgb(255, 217, 19) -20px -20px, 
            rgb(255, 255, 255) -30px -30px 0px -3px, 
            rgb(255, 156, 85) -30px -30px, 
            rgb(255, 255, 255) -40px -40px 0px -3px, 
            rgb(255, 85, 85) -40px -40px;
}


.welcomeMessage{
  position: absolute;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  font-size: 5vw;
  white-space: nowrap;
}
.castleBackground{
  display: flex;
  margin: 0 auto;
  height: auto;
  max-width: 1050px;
  max-height: 800px;
  background: url("../src/Images/CastleCropped.jpg") no-repeat center fixed;
  background-size: cover;
  max-width: 100%;
  max-width: 90vw;
  max-height: 90vh;
}

.welcomeBanner{  
position: relative;
}  

.weatherDiv{
  /* display: flex;
  justify-content: center;
  margin: 30px auto 10px;
  white-space: nowrap; */

  
  display: inline-block; /* set the display to inline-block to make the element wrap */
  max-width: 100%; /* set the maximum width to the available width */
  overflow: hidden; /* hide any overflow */
  text-overflow: ellipsis; /* show an ellipsis when the text is truncated */
  white-space: nowrap; /* prevent wrapping of individual words */
  font-size: 2rem; /* set a default font size */
  line-height: 1.2; /* set the line height to ensure proper spacing */
}



.WeatherFlexBox{
  display: flex;
  justify-content: center;
  /* border: 1px solid green; */
}
.orebroWeather{
  /* border: red solid 1px; */
  width: 40%;
  max-width: 48vw;
  text-align: center;
}
.localWeather{
  /* border: solid blue 1px; */
  width: 40%;
  max-width: 48vw;
  text-align: center;
}

.mapDiv {
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  max-width: 95vw;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.googleMap {
  max-width: 90%;
  height: auto;
}

.cityVideo{
 display: block;
 margin: 0 auto;
 height:399px;
 width:710px;
 max-width: 90vw;
  
}

.FoodTitle{
  text-align: center;
}

.firstImageDiv{
  text-align: center;
  justify-content: center;
  align-items: center;
  /* max-width: 95vw; */
}
.whereToStayImg{
  max-width: 95vw;
}

.firstFoodDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.firstFoodPic{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.foodPics{
  max-width: 400px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: gray;
  background-color: rgb(0,106,167);
  color: rgb(254, 204, 2);
  text-align: center;
}

.footerText{
  font-size: 1.5rem;
}

.firstSeeAndDo{
  text-align: center;
  justify-content: center;
  align-items: center;
}

.cannonKids{
  max-height: 500px;
  max-width: 95vw;
 }

 .visitorInformationImg{
  max-width: 95vw;
 }

 @media (max-width:880px){
  .headerList{
    display:none;
  }
  .orebroList{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 90vw;
  }
} 

@media (min-width:880px){
  .hamburger{
    display: none;
  }
}

@media screen and (max-height: 900px) {
  .footer {
    position: static;
    margin-top: 20px; /* adjust this value as needed */
  }
}   

/* @media (min-width){
  .orebroText{
max-width: fit-content;
  }
} */



@media screen and (max-width: 400px) {
  .weatherDiv {
    font-size: 1.5rem; /* adjust the font size for smaller screens */
    max-height: 3.6rem; /* set the maximum height to 2 lines at the smaller font size */
    overflow: hidden; /* hide any overflow */
    text-overflow: ellipsis; /* show an ellipsis when the text is truncated */
    white-space: normal; /* allow wrapping of individual words */
    text-align: center;
  }
}

@media screen and (max-width: 400px) {
  .weatherOutputOrebro{
font-size: 1rem;
margin: 0px;
  }
}

@media screen and (max-width: 400px) {
  .weatherOutputLocal{
    font-size: 1rem;
    margin: 0px;
  }
}
